@import "./variables.module.scss";

.header {
    background-image: linear-gradient(90deg, $blue, $purple, $pink);
    border-radius: $radius-sm;
    box-shadow: $shadow-sm;
    color: $white;
    height: 150px;
    padding: 56px 16px 0px 16px;
}

.mainContainer {
    display: grid;
    gap: 8px;
    grid-template-columns: 250px 1fr;
    margin: 0 auto;
    max-width: 900px;
    padding: 32px 0;

    h1 {
        font-size: 1.3rem;
    }
    h2 {
        font-size: 1rem;
        font-weight: normal;
    }
}

.feedSection {
    header {
        background: $dark-purple;
        border-radius: $radius-sm;
        color: $white;
        font-weight: bold;
        margin-bottom: 8px;
        padding: 8px 24px;

        h2 {
            font-weight: bold;
        }
    }

    main {
        display: flex;
        flex-direction: column;
        gap: 8px;
    }
}

.feedbackCard {
    background-color: $white;
    border-radius: $radius-sm;
    box-shadow: $shadow-sm;
    display: grid;
    gap: 24px;
    grid-template-columns: 40px 1fr 50px;
    padding: 24px 32px;
}

.upsContainer {
    @include FLEX(column, center, center);
    background-color: $light-blue;
    border-radius: $radius-sm;
    height: 48px;
    width: 100%;

    svg {
        color: $dark-blue;
    }
}

.contentContainer {
    @include FLEX(column, center, flex-start, 16px);

    h2 {
        font-weight: bold;
        color: $dark-purple;
        font-size: 1.1rem;
    }

    p {
        color: $dark-gray;
    }
}

.tag {
    background-color: $light-blue;
    border-radius: $radius-sm;
    color: $dark-blue;
    font-size: 0.9rem;
    font-weight: bold;
    padding: 4px 16px;
}

.commentsCountContainer {
    @include FLEX(row, center, center, 16px);
    color: $dark-purple;
    font-weight: bold;

    svg {
        color: $gray;
    }
}
